.comments {

    .title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 40px;
        @include transition( color 1s );
    }

    .comment-list {

        li {
            margin-bottom: 15px;
            padding-bottom: 30px;
            border-bottom: solid 1px #f0f0f0;
            background: #fafafa;
            padding: 40px;

            &:last-child { margin-bottom: 60px; }

            &#comment-error {
                box-shadow: -10px 0 0 #f0f0f0;
                margin-left: 10px;

                p { font-weight: 500; }
            }

            &#comment-pending {
                box-shadow: -10px 0 0 #f0f0f0;
                margin-left: 10px;
            }
        }
    }

    .comment-waiting {
        font-weight: 300;
        margin-bottom: 10px;
        font-style: italic;
        color: #a7a7a7;
    }

    .comment-header {
        margin-bottom: 20px;
        font-size: 0;

        .picture,
        .text {
            display: inline-block;
            vertical-align: middle;
        }

        .picture {
            margin-right: 20px;
            height: 50px;
            width: 50px;
            @include transition( background 1s );
        }

        .text {
            font-size: 20px;
            font-weight: 300;

            .user-name {
                margin-bottom: 8px;
            }

            .comment-meta {
                font-size: 12px;
                font-weight: 300;
                color: darken( #c0c0c0, 10% );
            }
        }
    }

    .comment-body {
        font-size: 16px;
        line-height: 1.7em;
        font-weight: 300;
    }

    .comment-form {
        font-size: 0;

        .comment-notes {
            font-size: 11px;
            margin-bottom: 20px;
            color: #c0c0c0;
            line-height: 1.3em;
            font-style: italic;
        }

        input,
        textarea {
            box-shadow: 0 0;
            border-radius: 0;
            @include appearance(none);
        }

        #author,
        #email {
            width: calc( 50% - 10px );
            display: inline-block;
            box-sizing: border-box;
            border: solid 1px #f0f0f0;
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 20px;
            font-family: $font-default;
            padding: 10px 20px;
            outline: none;
        }

        #author { margin-right: 20px; }

        textarea {
            width: 100%;
            max-width: 100%;
            border: solid 1px #f0f0f0;
            box-sizing: border-box;
            font-family: $font-default;
            font-size: 20px;
            font-weight: 300;
            line-height: 1.7em;
            min-height: 250px;
            padding: 10px 20px;
            outline: none;
            margin-bottom: 20px;
        }

        #submit {
            font-family: $font-default;
            font-size: 20px;
            font-weight: 300;
            display: block;
            width: 100%;
            border: none;
            background: transparent;
            padding: 10px 20px;
            outline: none;
            color: #fff;
            cursor: pointer;
        }
    }
}


@media screen and ( max-width : $mobile-size ) {
    .comments {

        .comment-list {
            li { padding: 20px; }
        }

        .comment-body {
            font-size: 16px;
            line-height: 1.5em;
        }

        .comment-form {
            #author,
            #email { width: 100% }
        }
    }
}